//importing underscores first
@import "assets/css/style_underscores.css";

$font-stack: Helvetica, sans-serif
$primary: #4e0b2a
$secondary: #f8f8f8

// Defining variables for layout. I could probably keep something like this for all sites
// Waiting Hopefully for CSS Subgrid to come out soon
$maingrid:  5fr 3fr 2fr minmax(500px, 700px) 2fr 3fr 5fr
$headerfooter: 80%
$normal: 4
$average: #{3} / #{6}
$wider: #{2} / #{7}
$full: #{1} / #{8}

.content
    display: grid
    margin: auto
    grid-template-columns: $maingrid
    position: relative

.site
    display: contents
    // display contents exposes children to the grid layout!!!

// # Typography

@font-face 
    font-family: Helvetica
    src: url('assets/fonts/Helvetica.woff')
    font-weight: normal

p
    font-family: Helvetica

h1, h2, h3, h4, h5, h6
    font-family: Helvetica
    clear: both
    text-transform: uppercase
    color: $primary

// # Header
.site-header
    display: contents

    img
        display: none

// ## Branding
.site-branding
    grid-column: $wider 
    grid-row: 1


// ## Menu
.main-navigation
    background-color: $primary
    grid-column: $full
    grid-row: 2
    height: 60px
    width: 100%

.menu-menu-1-container
    width: $headerfooter
    margin: auto
    display: grid

.menu
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin: 0
    padding: 0
    list-style: none

    li
        flex-grow: 1
        text-align: center

        a
            line-height: 60px
            font-size: 1.5em
            color: white
            text-transform: uppercase
            text-decoration: none

    li:hover
        background: white
        color: #4e0b2a
        
        a
            color: $primary


.menu-toggle
    display: none

// # Content
.site-content
    display: contents

.content-area
    display: contents

.site-main
    display: contents

    .page
        grid-column: $average
        padding: 2em 0 4em

    .featured-products
        grid-column: $full
        background-color: $secondary
        grid-template-columns: $maingrid
        display: grid
        box-shadow: inset 0 7px 10px -10px rgba(0, 0, 0, 0.2), inset 0 -7px 10px -10px rgba(0, 0, 0, 0.2)

        h1
            grid-column: $average

        .product_gallery
            grid-column: $average
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(150px,1fr))
            grid-gap: 6% 4%
            
            figure
                background-color: white
                margin: 0
                box-shadow:  1px 2px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.15)
                border-radius: 2px


                img
                    padding: 15px 8px
                
                figcaption
                    margin: 0 0 .5em

// ## Pages

.page-title::after
    content: " //"


// # Footer

.site-footer
    display: contents

.site-info
    height: 350px
    background-color: $primary
    color: white
    grid-column: $full

#footer-sidebar
    width: $headerfooter
    margin: auto
    display: grid  
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr

#footer-sidebar1 p
    margin: 0

#footer-sidebar1
    grid-column: 2

#footer-sidebar2
    grid-column: 3

#footer-sidebar3
    grid-column: 4
    text-align: right

    div,ul
        margin: 0
        padding: 0

    ul
        columns: 2
        list-style: none

        a
            text-decoration: none
            color: white