//importing underscores first
@import "assets/css/style_underscores.css";

$font-stack: Helvetica, sans-serif
$primary: #4e0b2a

// Defining variables for layout. I could probably keep something like this for all sites
// Waiting Hopefully for CSS Subgrid to come out soon
$normal: 4
$average: #{3} / #{6}
$wider: #{2} / #{7}
$full: #{1} / #{8}

.content
    display: grid
    width: 1200px
    margin: auto
    grid-template-columns: 5fr 3fr 2fr 700px 2fr 3fr 5fr

.site
    display: contents
    // display contents exposes children to the grid layout!!!

// # Typography

@font-face 
    font-family: Helvetica
    src: url('assets/fonts/Helvetica.woff')
    font-weight: normal

p
    font-family: Helvetica

h1, h2, h3, h4, h5, h6
    font-family: Helvetica
    clear: both
    text-transform: uppercase
    color: $primary

// # Header
.site-header
    display: contents

// ## Branding
.site-branding
    grid-column: $average 
    grid-row: 1

.site-header img
    display: none

// ## Menu
.main-navigation
    background-color: $primary
    grid-column: $average
    grid-row: 2
    height: 60px

.main-navigation 
    width: 100%

.menu-menu-1-container
    width: 80%
    margin: auto
    display: grid

.menu
    display: flex
    flex-direciton: row
    margin: 0
    padding: 0
    list-style: none

.menu li
    flex-grow: 1
    text-align: center

.menu li a
    line-height: 60px
    font-size: 1.5em
    color: white
    padding: 0 30px 0 30px
    text-transform: uppercase
    underline: none

.menu li a:hover
    background: white
    color: #4e0b2a

.menu-toggle
    display: none

// # Content
.site-content
    display: contents

.content-area
    display: contents

.site-main
    grid-column: $average

// ## Pages

.page-title::after
    content: " //"


// # Footer

.site-footer
    grid-column: $average
    
.site-info
    height: 350px
    border-top: 12px solid #4e0b2a

#footer-sidebar
    display: grid  
    grid-template-columns: 1fr 1fr 1fr

#footer-sidebar1 p
    margin: 0
    